//Хеддер
.header {
  display: flex;
  justify-content: space-between;
  min-height: 160px;
  padding: 0 54px 0 115px;
  &__logo {
    align-self: center;
    margin-top: 18px;
    &-image {
      width: 143px;
      height: 35px;
    }
    &-link {
      display: block;
    }
  }
  &__stamp {
    align-self: flex-end;
  }
}
//Конец хедера